input,
button {
  border: none;
  outline: none;
  background: none;
}
.main {
  position: relative;
  margin: auto;
  width: 100%;
  padding: 30px;
  display: grid;
  grid-template-rows: 100px 1fr 80px;
}
.main .top {
  /* position: fixed; */
  /* top: 20px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.main .name {
  font-size: 20px;
  font-weight: 500;
  color: #5b5c5c;
}
.main img {
  width: 50px;
  border-radius: 50%;
}
.main .element {
  width: 70%;
  margin: 10px auto;
}

.main .element .sunTitle1 {
  font-size: 56px;
  background: -webkit-linear-gradient(16deg, #4b90ff, #ea1502);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main .element .sunTitle2 {
  font-size: 56px;
  color: #c4c7c5;
  margin-bottom: 80px;
}
.main .element .boxes {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(4, auto);
  margin: 20px 0;
}
.main .element .boxes .boxx {
  position: relative;
  padding: 15px;
  border-radius: 10px;
  background-color: #f0f4f9;
  transition: 0.3s;
}
.main .element .boxes .boxx:hover {
  background: #e6eaf1;
}
.main .element .boxes .boxx p {
  padding-bottom: 40px;
}
.main .element .boxes .boxx .icon {
  font-size: 20px;
  position: absolute;
  right: 15px;
  bottom: 15px;
}
/* --------------- start result--------- */

.result .result-title,
.result .result-data {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
}
.result .result-title p {
  font-size: 25px;
  font-weight: 600;
}
.result .result-data {
  margin: 20px 30px 10px 30px;
  min-height: 360px;
  overflow-y: scroll;
}
.result .result-data p {
  max-height: 360px;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.8;
}
.result .result-data::-webkit-scrollbar {
  display: none;
}
/* -----------------end result----------------- */
/* -----------------start animation--------------- */
.loading {
  width: 100%;
  min-height: 360px;
}
.loading hr {
  border-radius: 4px;
  border: none;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #1f9cf6, #ffff, #1f9cf6);
  height: 20px;
  animation: loading 3s infinite linear;
  margin-bottom: 10px;
}
@keyframes loading {
  0% {
    background-position: -1000px 0px;
  }
  100% {
    background-position: 1000px 0px;
  }
}
/* -----------end animation-------------- */
.buttom {
  width: 70%;
  margin: auto;
  text-align: center;
}
.enter-element {
  background-color: #f0f4f9;
  padding: 15px 25px;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  font-size: 18px;
  transition: 0.3s;
}
.enter-element:hover {
  background-color: #e6eaf1;
}
.enter-element .btns {
  display: flex;
  gap: 10px;
}
.enter-element .btns button {
  transition: 0.3s;
}
.enter-element .btns button:hover {
  color: #0454de;
}
/*-------- footer ----------*/
.footer {
  margin: 10px auto;
  font-size: 13px;
  text-align: center;
}
/* ---------------responsive ----------- */
@media (max-width: 1100px) {
  .main .element {
    width: 80%;
  }
}
@media (max-width: 991px) {
  .main .element {
    width: 90%;
  }
  .main .element .boxes {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, auto);
    margin: 20px auto;
  }
}
@media (max-width: 772px) {
  .main .element {
    width: 100%;
  }
  .main .element .boxes {
    grid-template-columns: repeat(2, auto);
  }
  .buttom {
    width: 90%;
  }
}
/* -----mobile--------- */
@media (max-width: 430px) {
  .main .element {
    width: 100%;
  }
  .main .element .boxes {
    grid-template-columns: repeat(1, auto);
    margin: 20px 10px 20px 0px;
  }
  .result {
    margin-left: -10px;
  }
  .result .result-data {
    display: block;
    margin: 20px 10px 10px 0px;
    max-height: 390px;
  }
  .result .result-data p {
    margin-left: 20px;
  }
  .buttom {
    margin-top: 35px;
    width: 100%;
  }
}
